<div *ngIf="isLoading" class="spinner-container">
  <div class="spinner-bg"></div>
  <div class="spinner-content">
    <img src="https://sxdosrgvnxbxifxvasks.supabase.co/storage/v1/object/public/imagenes/diseno-logotipo-hospital-vector-cruz-medica_53876-136743.ico" class="logo-spinner" alt="Logo Clínica Behrens" />
    <div class="loading-text">
      Cargando
      <span class="loading-dot">.</span>
      <span class="loading-dot">.</span>
      <span class="loading-dot">.</span>
    </div>
  </div>
</div>

